/* @import url(firefox-csshacks/chrome/autohide_sidebar.css);
@import url(custom/autohide_sidebar.custom.css); */

@import url(FirefoxSidebar/userChrome.css);
@import url(custom/FirefoxSidebar_allow_no_bookmarks_bar.css);

@import url(firefox-csshacks/chrome/status_inside_urlbar_v2.css);
@import url(custom/status_inside_urlbar_v2.custom.css);

@import url(custom/csd.css);

.titlebar-button > .toolbarbutton-icon:-moz-lwtheme {
  padding: unset !important;
}

:root {
  --lwt-toolbar-field-icon-fill-attention: #d65d0e;
  --button-bgcolor: #d65d0e;

  /* drannex42/FirefoxSidebar/prefs.css */
  --custom-sidebar-header-bg: var(--toolbar-bgimage) var(--toolbar-bgcolor) /* #2e3132 */;
}
