#urlbar::before {
  inset: 0 1px;
}

#statuspanel {
  background-color: transparent;
  height: 28px !important;
  background-color: var(--toolbar-field-background-color);
  padding: 0 0 0 58px;
  display: flex;
}

#statuspanel::before {
  content: "";
  display: list-item;
  list-style-image: url(chrome://global/skin/icons/trackers.svg);
  fill: var(--toolbar-field-color);
  line-height: 29px;
  -moz-context-properties: fill, stroke;
}

#statuspanel > #statuspanel-label {
  /* background-color: var(--toolbar-bgcolor) !important; */
  background-color: unset !important;
  color: #fff !important;
  font-size: 14px !important;
  line-height: 28px;
  display: block;
  /* border-left: 3px var(--panel-banner-item-info-icon-bgcolor) solid !important; */
}
/*
:-moz-window-inactive #statuspanel-inner > #statuspanel-label {
  background-color: #383838 !important;
}
*/
